/* Nullify all browser CSS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
  font-family: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
  border: none;
  outline: none;
  text-decoration: none;
  list-style: none;
}

/* Additional reset styles */

html {
  font-size: 20px;
  font-family: 'Text';
  line-height: 1.5;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  cursor: pointer;
}

/* MY COLOUR PALLETE  */
:root {
  --lightBlue: #50D0D5;
  --darkBlue: #023653;
  --lightGrey: #EEEEEE;
}

/* IMPORTING FONTS  */
@font-face {
  font-family: 'Name';
  src: url('assets/fonts/Name.ttf');
}

@font-face {
  font-family: 'Text';
  src: url('assets/fonts/Text.ttf');
}

@font-face {
  font-family: 'Headings';
  src: url('assets/fonts/Headings.ttf');
}

.container {
  display: flex;
  margin-bottom: 0;
}

.heading-fonts {
  font-size: 40px;
  font-family: 'Headings';
  margin-bottom: 20px;
}

.sub-heading {
  font-size: 30px;
  font-family: 'Headings';
}

.to-do-head {
  font-size: 50px;
  font-family: 'Headings';
  margin-bottom: 20px;
}

#leftCol,
.sidebar {
  width: 20%;
  background-color: var(--darkBlue);
  /* float: left; */
  padding: 20px;
  padding-bottom: 900px;
}

.sidebar>h2 {
  font-size: 24px;
  margin-top: 80px;
  margin-bottom: 30px;
  text-align: center;
  color: var(--lightBlue);
}

.sidebar ul {
  list-style: none;
  margin: 0;
  margin-left: 8px;
  padding: 0;
}

.sidebar li {
  margin-bottom: 10px;
  position: relative;
  padding-left: 12px;
}

.navigation-list li::before {
  content: "\203A";
  color: white;
  position: absolute;
  left: 0;
}

.sidebar li a {
  text-decoration: none;
  color: white;
}

.sidebar li a:hover {
  text-decoration: underline;
}

.signup-section {
  margin-top: 125px;
  border: 1px solid white;
  border-radius: 15px;
  padding: 8px;
}

.signup-section h3 {
  color: var(--lightBlue);
  font-size: 24px;
  text-align: center;
  margin: 0;
}

.signup-section h4 {
  text-align: center;
  color: white;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 20px;
  align-items: center;
}

.signup-section .nav-button {
  width: 70%;
  text-align: center;
  background-color: var(--lightBlue);
  color: #fff;
  font-size: 18px;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin: 0px auto;
  border-radius: 15px;
}

.signup-section button:hover {
  background-color: #000;
}

.already-user {
  display: flex;
  justify-content: space-between;
  margin: 0 20px;
}

.already-user h6 {
  font-size: 12px;
  color: white;
  margin: 4px 8px;
}

.signIn {
  text-decoration: underline;
  margin-left: 0;
}


/* MAIN CONTENT  */

.heading-fonts {
  font-family: 'Headings', sans-serif;
  size: 30px;
}

.main-content {
  /* float: left; */
  width: 80%;
  padding: 40px;
}

.header {
  display: flex;
  flex-direction: column;
}

.header h1 {
  font-size: 80px;
  font-weight: bold;
  margin: 0;
  text-align: center;
  /* padding-top: 10; */
  color: var(--lightBlue);
  text-shadow: 1px 1px 2px black;
}

.video {
  float: left;
  margin-bottom: 30px;
  width: 400px;
}




.text {
  margin-left: 430px;
  margin-bottom: 50px;
}

.text p {
  font-size: 24px;
}

.header h2 {
  font-size: 30px;
  margin-top: 20px;
  text-align: center;
}

.description p {
  text-align: center;
  margin: 40px 0;
  font-size: 24px;
  font-family: 'Text';

}

.instructions {
  margin: 30px;
}

.name {
  font-family: 'Name', serif;
}

#all-features {

  clear: both;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  padding-top: 40px;
  border-top: 2px solid grey;
}

#all-features a {
  vertical-align: middle;
}

.feature {
  display: flex;
  align-items: flex-start;
  text-decoration: none;
  margin: 20px 0;
  max-width: 100%;
  width: 1755px;
  background-color: #f8f8f8;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.feature img {
  display: inline-block;
  width: 140px;
  margin: 20px;
  border-radius: 25px;
  margin-left: 40px;
}

.feature-info {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.feature-info h3 {
  font-size: 34px;
  margin-bottom: 10px;
}

.feature-info h4 {
  font-size: 24px;
  color: #666;
}

/* fotter  */

footer {
  clear: both;
  background-color: var(--darkBlue);
  color: #fff;
  padding: 20px;
  margin-top: auto;
}

.footer-right {
  font-size: 30px;
  margin-top: 0;
  text-align: center;
  padding-left: 30px;
  border-left: 2px solid white;
}

.footer-right h3 {
  font-size: 30px;
  margin-top: 0;
  text-align: center;
}

.footer-left h3 {
  font-size: 50px;
  margin-top: 0;
  text-align: center;
}



.footer-left p,
.footer-right p {
  font-size: 24px;
  margin-top: 10px;
  text-align: center;
}

p.tagline {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 20px;
}

.credits {
  border-top: 2px solid white;
}

.credits p {
  font-size: 20px;
  margin: 5px 0;
  text-align: center;
}

.email-suggestion input[type="text"] {
  color: #000;
  width: 80%;
  padding: 10px;
  font-size: 14px;
  border: none;
  border-radius: 15px;
  margin-right: 10px;
  background-color: white;
}

.email-suggestion button {
  width: 30%;
  text-align: center;
  background-color: var(--lightBlue);
  color: #fff;
  font-size: 18px;
  border: none;
  padding: 5px 5px;
  cursor: pointer;
  margin: 0px auto;
  border-radius: 15px;

}

.email-suggestion .send-icon {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  width: 24px;
}

.email-suggestion .send-text {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}

.this-button {
  text-align: center;
  /* background-color: var(--lightBlue); */
  background-color: var(--lightBlue);
  color: #fff;
  font-size: 24px;
  border: none;
  padding: 10px 10px;
  cursor: pointer;
  margin: 0px auto;
  border-radius: 15px;
}


footer {
  clear: "both";
  background-color: var(--darkBlue);
  color: #fff;
  display: flex;
  justify-content: space-around;
  padding: 20px;
  /* position: absolute; */
  bottom: 0;
  left: 0;
  width: 100%;

}

/* feature css  */
.feature {
  display: flex;
  align-items: flex-start;
  text-decoration: none;
}

.feature img {
  margin-right: 20px;
}

.feature-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.feature-info h3,
.feature-info h4 {
  margin: 0;
}





 /* Mobile css  */
@media screen and (max-width: 480px) {

  .drawer-toggle {
    display: none;
    font-size: 30px;
    background-color: transparent;
    color: var(--darkBlue);
    cursor: pointer;
    border-radius: 5px;
  }

  .drawer-toggle:hover {
    background-color: var(--lightGrey);
  }

  .sidebar {
    position: fixed;
    left: -100%;
    transition: left 1s;
    height: 100%;
    z-index: 9999;
  }

  .sidebar.open {
    left: 0;
  }

  #drawer-close {
    display: hidden;
  }

  .container {
    flex-direction: column;
  }

  .sidebar,
  #leftCol {
    width: 100%;
    padding-bottom: 20px;
  }

  .main-content {
    width: 100%;
    padding: 20px;
  }

  .drawer-toggle {
    display: block;
    background-color: var(--darkBlue);
    color: white;
    font-size: 24px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
  }

  .drawer-close {
    display: block;
    background-color: var(--lightBlue);
    color: white;
    font-size: 18px;
    padding: 2px 10px;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
  }

  .sidebar.open {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    width: 80%;
  }

  .sidebar.open h2 {
    margin-top: 5px;
  }

  .header {
    text-align: center;
  }

  .main-content .text p,
  .description p,
  .header h2,
  .feature h4,
  .footer p {
    font-size: 18px;
  }

  .main-content .text .heading-fonts,
  .to-do-head,
  .feature h3, .footer h3{
    font-size: 22px;
  }


  .feature {
    text-align: center;
  }

  h1.name {
    font-size: 50px;
  }

  h3.name{
    font-size: 40px;
  }

  .instructions {
    margin: 0px;
  }

  .video {
    float: none;
    width: 100%;
    width: 00px;
    padding: auto auto;
    margin: 20px;
  }
  .video iframe{
    width: 300px;
  }

  

  .text {
    margin-left: 0;
    text-align: center;
  }

  .feature {
    flex-direction: column;
    align-items: center;
  }

  .feature img {
    margin: 20px auto;
    width: 80px;
    margin-bottom: 0px;
  }


  .footer {
    display: flex;
    position: relative;
  }


  .footer-right {
    padding-bottom: 30px;
    padding-right: 30px;
    position: absolute;
    bottom: 0;
    right: 0;
  }


  .footer-left,
  .footer-right {
    text-align: center;
    border: none;
  }

  .footer-left {
    padding-bottom: 300px;
  }


  .email-suggestion input[type="text"] {
    width: 100%;
  }

  .email-suggestion button {
    width: 100%;
    margin-top: 10px;
  }
}


/* Tablet css  */
@media only screen and (min-width:481px) and (max-width:869px) {
  #drawer-toggle {
    color: white;
  }
  #drawer-close{
    color: #023653;
  }
  .drawer-toggle {
    display: none;
    font-size: 30px;
    background-color: transparent;
    color: var(--darkBlue);
    cursor: pointer;
    border-radius: 5px;
  }

  .drawer-toggle:hover {
    background-color: var(--lightGrey);
  }

  .sidebar {
    position: fixed;
    left: -100%;
    transition: left 1s;
    height: 100%;
    z-index: 9999;
  }

  .sidebar.open {
    left: 0;
  }

  #drawer-close {
    display: hidden;
  }

  .container {
    flex-direction: column;
  }

  .sidebar,
  #leftCol {
    width: 40%;
    padding-bottom: 20px;
  }

  .main-content {
    width: 100%;
    padding: 20px;
  }

  .drawer-toggle {
    display: block;
    background-color: var(--darkBlue);
    color: white;
    font-size: 24px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
  }

  .drawer-close {
    display: block;
    background-color: var(--lightBlue);
    color: white;
    font-size: 18px;
    padding: 2px 10px;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
  }

  .sidebar.open {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    width: 80%;
  }

  .sidebar.open h2 {
    margin-top: 5px;
  }

  .video {
    width: 100%;
    max-width: 373px; /* Adjust the max-width according to the aspect ratio */
    height: 200px;
    margin: 0 auto; /* Center the video horizontally */
    position: relative;
    overflow: hidden;
  }
  
  .video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .header {
    text-align: center;
  }
  .header h2 {
    font-size: 25px;
  }

  .main-content .text p,
  .description p,
  .feature h4,
  .footer p {
    font-size: 18px;
  }
  

  .main-content .text .heading-fonts,
  .to-do-head,
  .feature h3, .footer h3{
    font-size: 28px;
  }

.description p, .instructions p{
  padding: 0 40px;
}
  .feature {
    text-align: center;
  }

  h1.name {
    font-size: 80px;
  }

  h3.name{
    font-size: 40px;
  }

  .instructions {
    margin: 0px;
  }

  .video {
    float: none;
    width: 100%;
    width: 00px;
    padding: auto auto;
    margin: 20px;
  }
  .video iframe{
    width: 300px;
  }

  

  .text {
    margin-left: 0;
    text-align: center;
  }

  /* .feature {
    flex-direction: column;
    align-items: center;
  } */

  .feature img {
    margin: 20px 20px;
    width: 110px;
    margin-bottom: 0px;
  }


  .footer {
    display: flex;
    position: relative;
  }


  .footer-right {
    padding-bottom: 30px;
    padding-right: 30px;
    position: absolute;
    bottom: 0;
  }


  .footer-left,
  .footer-right {
    text-align: center;
    border: none;
  }

  .footer-left {
    padding-bottom: 230px;
  }


  .email-suggestion input[type="text"] {
    width: 100%;
  }

  .email-suggestion button {
    width: 100%;
    margin-top: 10px;
  }
}



/* Desktop css  */
@media only screen and (min-width:770px){
  #drawer-toggle {
    color: white;
  }
  #drawer-close{
    color: #023653;
  }
  .video {
    width: 100%;
    max-width: 373px; /* Adjust the max-width according to the aspect ratio */
    height: 200px;
    margin: 0 auto; /* Center the video horizontally */
    position: relative;
    overflow: hidden;
  }
  
  .video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}